* {
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  color: black;
  background-image: linear-gradient(to right bottom, white, #f9eaea);
  font-family: 'Montserrat', sans-serif; }

.container {
  max-width: 120rem;
  margin: 2rem auto;
  background-image: linear-gradient(to right bottom, white, #dddada);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 80rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0; } }

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white; }

.product-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  background-color: white; }

.finalCheck {
  margin: auto 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 35rem; }

.logo-header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  flex: 0 0 50%;
  border-bottom: 1px solid #0000001f; }

.logo {
  width: 100%; }
  .logo__link {
    width: 15%; }

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .nav__list {
    font-size: 2.5rem;
    text-decoration: none;
    list-style: none;
    width: 70%;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 0 0 50%;
    backface-visibility: hidden;
    transition: color 0.5s ease-out; }
    @media only screen and (max-width: 48em) {
      .nav__list {
        font-size: 1.5rem; } }
  .nav__item {
    backface-visibility: hidden;
    color: black;
    text-decoration: none;
    transition: all 1s ease-in;
    font-weight: 600;
    border-bottom: 5px solid rgba(224, 216, 216, 0); }
    .nav__item:hover {
      color: #ee4444;
      font-weight: 600;
      font-size: inherit;
      border-bottom: 5px solid #ee4444; }

.search-bar {
  width: 20%;
  flex: 1; }
  .search-bar__input {
    border-radius: 1rem;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid black;
    transition: all 1s ease-in; }
    .search-bar__input:focus {
      outline: none;
      border: 1px solid blue; }

.banner {
  display: block;
  position: relative; }
  .banner__img {
    width: 100%;
    height: 95vh; }
    @media only screen and (max-width: 48em) {
      .banner__img {
        height: 45.5rem; } }

.carousel {
  position: relative; }

.btn-shopNow {
  position: absolute;
  top: 85%;
  left: 15%;
  color: #fff;
  font-weight: 500;
  transform: translate(-50%, -50%);
  text-decoration: none;
  padding: .5rem;
  font-size: 4rem;
  background-color: transparent;
  border: .8rem solid #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  transition: all 1s ease-out;
  text-transform: uppercase; }
  @media only screen and (max-width: 48em) {
    .btn-shopNow {
      font-size: 2rem; } }
  @media only screen and (max-width: 23.4375em) {
    .btn-shopNow {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 20em) {
    .btn-shopNow {
      font-size: 1rem; } }
  .btn-shopNow:hover {
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.308);
    border: 0.8rem solid #e42e2e;
    color: #e42e2e;
    transform: translate(-50%, -52%); }

.collection {
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: xx-large;
  flex: 0 0 10%;
  padding: 2rem;
  width: 100%;
  line-height: 13rem; }
  @media only screen and (max-width: 48em) {
    .collection {
      font-size: large;
      line-height: 10rem;
      font-weight: 500; } }
  @media only screen and (max-width: 26.5625em) {
    .collection {
      font-weight: 500;
      line-height: 6rem; } }
  @media only screen and (max-width: 20em) {
    .collection {
      line-height: 4rem;
      font-size: 1.5rem;
      font-weight: 400; } }

.main-content {
  flex: 1;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  display: flex;
  position: relative; }
  .main-content__img--1 {
    position: absolute;
    width: 45%;
    top: 50%;
    left: 22%;
    transform: translate(-50%, -100%); }
  .main-content__img--2 {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -83%); }
  .main-content__img--3 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 11.8%;
    height: 90rem;
    transform: translate(-42%, -34.5%); }
    @media only screen and (max-width: 26.5625em) {
      .main-content__img--3 {
        height: 56rem; } }
    @media only screen and (max-width: 20em) {
      .main-content__img--3 {
        height: 40rem; } }

.top-img {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-content: baseline;
  flex-direction: row;
  position: relative; }

.h1-fade {
  position: absolute;
  width: 65%;
  top: 50%;
  left: 70.8%;
  height: auto;
  transform: translate(-60%, 45rem);
  font-size: 6rem;
  text-transform: uppercase;
  color: #00000008; }
  @media only screen and (max-width: 26.5625em) {
    .h1-fade {
      width: 44%;
      top: 50%;
      left: 50.8%;
      transform: translate(-17%, 186%);
      font-size: 4rem; } }
  @media only screen and (max-width: 23.4375em) {
    .h1-fade {
      font-size: 3rem; } }

.shopping-cart {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 0 0 50%;
  position: relative; }
  .shopping-cart__img {
    width: 65%; }
  .shopping-cart__circle {
    background-color: #ff8686;
    border-radius: 10rem;
    font-size: 1.3rem;
    top: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    left: 90%;
    position: absolute;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 1rem;
    font-weight: 400; }
    @media only screen and (max-width: 48em) {
      .shopping-cart__circle {
        background-color: #ff8686;
        border-radius: 10rem;
        font-size: .5rem;
        top: 1rem;
        display: inline-table;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
        left: 90%;
        position: absolute;
        width: 1rem;
        height: 1rem;
        text-align: center;
        padding: .5rem;
        font-weight: 400; } }

.active {
  font-weight: 700;
  backface-visibility: hidden;
  color: black;
  border-bottom: 5px solid black;
  transition: all 0.5s ease-out; }

.cloths-menu {
  flex: 0 0 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: auto; }
  .cloths-menu__list {
    text-decoration: none;
    list-style: none; }
  .cloths-menu__item {
    text-align: start;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    width: 65%; }
    @media only screen and (max-width: 26.5625em) {
      .cloths-menu__item {
        font-size: 1.5rem; } }
    .cloths-menu__item--1 {
      color: #973030 !important;
      border-bottom: 1px solid #973030; }
    .cloths-menu__item:not(:first-child):hover {
      color: #d43030;
      cursor: pointer; }
    .cloths-menu__item:first-child {
      margin-bottom: 1rem;
      padding: 1rem;
      font-weight: 500;
      font-size: 3rem;
      text-transform: uppercase; }
      @media only screen and (max-width: 26.5625em) {
        .cloths-menu__item:first-child {
          font-size: 2rem; } }

.product-list {
  flex: 1;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%; }
  .product-list__box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2rem 0.5rem;
    margin: 2rem;
    text-decoration: none;
    text-align: center;
    flex: 0 0 33.3333333%; }
  .product-list__img {
    width: 100%;
    border: 3px solid black; }
  .product-list__price {
    font-weight: 600;
    font-size: 1.3rem; }
  .product-list__title {
    text-transform: capitalize;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: black; }

.product__title {
  margin-bottom: 2rem;
  font-weight: 500; }
  @media only screen and (max-width: 26.5625em) {
    .product__title {
      font-weight: 400;
      font-size: 1rem; } }

.product__price {
  font-weight: 600;
  font-size: 1.5rem;
  color: green; }

.product__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 30%; }

.product__sizeBox {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid black;
  margin-right: 0.5rem; }

.product__container {
  padding: 2rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%; }

.product__img {
  width: 100%; }

.product__left {
  border: 4px black solid;
  flex: 1;
  margin: 2rem; }

.product__right {
  height: 40rem;
  flex: 0 0 60%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around; }

.product__color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto; }
  .product__color--title {
    margin-bottom: 1rem; }
  .product__color--red {
    background-color: red;
    height: 2rem;
    width: 2.2rem;
    margin-right: 0.5rem;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black; }
  .product__color--black {
    background-color: black;
    height: 2rem;
    width: 2.2rem;
    margin-right: 0.5rem;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black; }
  .product__color--Gold {
    background-color: gold;
    height: 2rem;
    width: 2.2rem;
    margin-right: 0.5rem;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black; }
  .product__color--navy {
    background-color: navy;
    height: 2rem;
    width: 2.2rem;
    margin-right: 0.5rem;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black; }
  .product__color--Lilac {
    background-color: pink;
    height: 2rem;
    width: 2.2rem;
    margin-right: 0.5rem;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black; }
  .product__color--Athletic-Heather {
    background-color: #afafaf;
    height: 2rem;
    width: 2.2rem;
    margin-right: 0.5rem;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black; }
  .product__color--Maroon {
    background-color: Maroon;
    height: 2rem;
    width: 2.2rem;
    margin-right: 0.5rem;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black; }
  .product__color--Black-Heather {
    background-color: #313131;
    height: 2rem;
    width: 2.2rem;
    margin-right: 0.5rem;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black; }
  .product__color--white {
    background-color: #d8d8d8;
    height: 2rem;
    width: 2.2rem;
    margin-right: 0.5rem;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black; }
  .product__color--Military-Green {
    background-color: #6b6952;
    height: 2rem;
    width: 2.2rem;
    margin-right: 0.5rem;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black; }
  .product__color--crop {
    background-color: #e1ac92;
    height: 2rem;
    width: 2.2rem;
    margin-right: 0.5rem;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black; }
  .product__color--babyBlue {
    background-color: powderblue;
    height: 2rem;
    width: 2.2rem;
    margin-right: 0.5rem;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black; }
  .product__color--babyPink {
    background-color: #e5c1f0;
    height: 2rem;
    width: 2.2rem;
    margin-right: 0.5rem;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black; }
  .product__color--heatherGray {
    background-color: #adaaaa;
    height: 2rem;
    width: 2.2rem;
    margin-right: 0.5rem;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black; }
  .product__color--jetBlack {
    background-color: black;
    height: 2rem;
    width: 2.2rem;
    margin-right: 0.5rem;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black; }
  .product__color--royalBlue {
    background-color: royalblue;
    height: 2rem;
    width: 2.2rem;
    margin-right: 0.5rem;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black; }

.u-no-display {
  display: none !important; }

.addCArt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  text-align: center; }
  .addCArt__Btn {
    font-size: 1.3rem;
    padding: 1rem;
    border: 2px solid black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: black; }
    .addCArt__Btn:hover {
      border: 2px solid #d39716;
      color: #d39716; }
  .addCArt__logo {
    width: 10%;
    margin-right: 0.5rem; }

.cart {
  padding: 4rem; }
  .cart__detail {
    padding: 2rem; }
  .cart__header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    width: 80%;
    text-align: center; }
  .cart__section {
    padding: 2rem; }
    .cart__section:not(:last-child) {
      margin-bottom: 4rem;
      padding: 4rem;
      border: 5px solid black;
      background-color: rgba(204, 204, 204, 0.63); }
  .cart__content {
    font-size: 1.5rem;
    font-weight: 400; }

.u_flex {
  justify-content: space-between;
  display: flex;
  width: 10rem;
  align-items: center; }

.form {
  padding: 1rem;
  flex: 1 1;
  border-radius: 1rem;
  border: 1px solid #0000000a;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  height: 40rem;
  background-color: rgba(87, 87, 104, 0); }
  .form__input {
    border: none;
    padding: 1rem;
    flex: 1; }
    .form__input:focus {
      outline: none;
      border-bottom: 1px solid #86e4a5; }
  .form__label {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #e7b5b5; }
  .form__title {
    text-transform: uppercase;
    width: 10rem; }

.u-point {
  cursor: pointer; }

.recipient {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: auto 2rem; }
  .recipient__img {
    border-radius: 7rem;
    background: #e5919194;
    padding: 4rem; }
  .recipient__content {
    flex: 0 0 55%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 0.8rem;
    font-weight: 400;
    flex-direction: row; }
  .recipient__title {
    font-size: 0.8rem;
    font-weight: 400; }

.finalCheck {
  display: flex;
  flex: 0 0 55%;
  align-items: flex-start;
  justify-content: center; }
  .finalCheck__header {
    display: flex;
    border-bottom: 1px solid rgba(226, 185, 185, 0.432);
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 1rem; }
    .finalCheck__header--main {
      font-weight: 600;
      font-size: 2rem; }
    .finalCheck__header--sub {
      font-weight: 400;
      font-size: 2.5rem;
      letter-spacing: 0.3rem; }
  .finalCheck__contact {
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem 6rem; }
    .finalCheck__contact--title {
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 2rem; }
    .finalCheck__contact--info {
      width: 75%;
      padding: 0.5rem 2rem;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      text-align: start; }
    .finalCheck__contact--key {
      flex: 0 0 50%;
      text-transform: capitalize; }
    .finalCheck__contact--value {
      flex: 1;
      text-transform: capitalize; }

.final {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem; }

.total {
  flex: 1 1;
  background-color: #fff9f7;
  width: 100%;
  padding: 1.5rem 2rem;
  justify-content: space-between;
  margin: 2rem;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  height: auto; }
  .total__detail {
    display: flex;
    border-bottom: 1px solid rgba(226, 185, 185, 0.432);
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 2rem; }
  .total__img {
    background-color: #bebebe;
    width: 10%;
    border-radius: 5rem; }
  .total__title {
    margin-right: 1rem; }
    .total__title--2 {
      margin-right: 1rem;
      font-size: 1.2rem; }
    .total__title--sub {
      color: #b0aaa8;
      margin-left: 0.5rem; }

.shipTotal {
  text-transform: capitalize;
  font-size: 1.1rem; }

.ship-box {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(226, 185, 185, 0.432); }

.total-fs {
  font-size: 1.8rem; }

.u-margin-bottom {
  margin-bottom: 1rem; }

.form-credit {
  padding: 2rem;
  margin: 1rem;
  max-width: 40rem;
  background-color: #FFF9F7; }
  .form-credit__input-container {
    display: flex; }
  .form-credit__buyer {
    padding: 1rem; }
  .form-credit__input {
    margin: .5rem;
    padding: 1rem;
    border: none;
    width: 100%; }

.btn {
  padding: .5rem 1rem;
  text-align: center;
  color: #ebebeb;
  font-weight: 600;
  margin: 1rem;
  background: black;
  border: none;
  cursor: pointer;
  width: 20rem;
  font-size: 1.5rem; }
  .btn:hover {
    color: black;
    background: #ebebeb; }
