* {
  margin: 0;
  padding: 0;
}


$bp-largest:75em; //1100/ 16
$bp-large:68.75em; //1100/ 16
$bp-small:48em; //1100/ 16
$bp-smallest:26.5625em; //425/ 16
$bp-tiny:23.4375em; //375 / 16
$bp-tinniest:20em; //320 /yest 16

*,*::before,*::after{
  box-sizing: inherit;
}


html{
  box-sizing: border-box;
  font-size: 62.5%;//1rem === 10px, 10/16
@media only screen and (max-width:$bp-large){
  font-size: 50% ;
}

}



body {
  color: rgb(0, 0, 0);
  background-image: linear-gradient(to right bottom,white, #f9eaea);
  font-family: 'Montserrat', sans-serif;
}
