* {
  margin: 0;
  padding: 0;
}

*,*::before,*::after{
  box-sizing: inherit;
}


html{
  box-sizing: border-box;
  font-size: 62.5%;//1rem === 10px, 10/16
}



body {
  color: rgb(0, 0, 0);
  background-image: linear-gradient(to right bottom,white, #f9eaea);
  font-family: 'Montserrat', sans-serif;
}
